.row
  - @team.users.each do |user|
    - unless user.is_bot?
      = image_tag user.image_url, :class=>"img-circle", :size=>"100x100"
  - @team.users.each do |user|
    - unless user.is_bot?
      = image_tag user.logo, :class=>"img-thumbnail"