.container.m-y-md
  .col-md-12
    %ul.list-group.media-list.media-list-stream
      - @messages.each do |message|
        %li.media.list-group-item.p-a
          =link_to message.user, :class=>"media-left" do
            = image_tag message.user.image_url, :class=>"media-object img-circle"
          .media-body
            .media-body-text
              .media-heading
                %small.pull-right.text-muted
                  =message.channel_uid
                %small.pull-right.text-muted
                  =message.timestamp

                %h5
                  = message.user.name
              %p
                = Slack::Messages::Formatting.unescape(message.text)