.block.block-secondary.app-iphone-block
  .container
    .row.app-align-center
      .col-sm-5.col-sm-push-7
        %h3.m-t-0.m-b-md “My first day hanging out with people I'd never met before felt like a reunion with old friends.”
        %p.m-b-md.text-muted Next Member, Your Community
      .col-sm-6.col-sm-pull-5
        %h6.text-muted.text-uppercase Member onboarding
        %h3.m-t-0 A warm welcome for every new member
        %p.lead.m-b-md Cabinbot will help make your members feel at home from the moment they join.
/ .block.block-inverse.block-secondary.app-code-block
/   .container
/     .row.app-align-center
/       .col-sm-5.hidden-xs
/         %img.app-iphone{:src => "/assets/community-directory.png", :style => "width: 100%;"}/
/       .col-sm-6.col-sm-offset-1
/         %h6.text-muted.text-uppercase Member Profiles
/         %h3.m-t-0 Your members are more than just names and faces
/         %p.lead.m-b-md.text-muted Cabinbot curates a directory of your members that you'll want to parade around the world.
/         .row.hidden-sm
/           .col-sm-6.m-b-md.text-muted
/             %h5.m-y-0 Inspires connections
/             %p Every profile has clear calls to action prompting users to start conversations.
/           .col-sm-6.text-muted
/             %h5.m-y-0 Always fresh
/             %p Cabinbot makes sure your members update their profiles every month.
/ .block.block-secondary
/   .container
/     .row.app-align-center
/       .col-sm-6
/         %h6.text-muted.text-uppercase Community Directory
/         %h3.m-t-0 Show off the members who make a difference
/         %p.lead.m-b-md.text-muted Cabinbot curates a directory of your members that you'll want to parade around the world.
/         .row.hidden-sm
/           .col-sm-6.m-b-md.text-muted
/             %h5.m-y-0 Inspires connections
/             %p Every profile has clear calls to action prompting users to start conversations.
/           .col-sm-6.text-muted
/             %h5.m-y-0 Always fresh
/             %p Cabinbot makes sure your members update their profiles every month.
/       .col-sm-5.hidden-xs.col-sm-offset-1
/         %img.app-iphone{:src => "/assets/community-directory.png", :style => "width: 100%;"}/
.block.block-inverse.block-secondary.app-code-block
  .container
    .row.app-align-center
      .col-sm-5.hidden-xs
        %img.app-iphone{:src => asset_path('community-directory.png'), :style => "width: 100%;"}/
      .col-sm-6.col-sm-offset-1
        %h6.text-muted.text-uppercase Community Directory
        %h3.m-t-0 Show off the members who make a difference
        %p.lead.m-b-md.text-muted Cabinbot curates a directory of your members that you'll want to parade around the world.
        .row.hidden-sm
          .col-sm-6.m-b-md.text-muted
            %h5.m-y-0 Inspires connections
            %p Every profile has clear calls to action prompting users to start conversations.
          .col-sm-6.text-muted
            %h5.m-y-0 Always fresh
            %p Cabinbot makes sure your members update their profiles every month.
/ .block.app-ribbon.p-y-lg
/   .container.text-center
/     =link_to "http://theskiff.org" do
/       %img{:src => "https://logo.clearbit.com/theskiff.org"}/
.block.block-secondary.app-block-marketing-grid
  .container.text-center
    .row.m-b-lg
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        %h6.text-muted.text-uppercase Our Values
        %h3.m-t-0.m-b 3 reasons why we built Cabinbot.
    .row.app-marketing-grid
      .col-sm-4.p-x-md.m-b-lg
        %span.icon.icon-hand.m-b
        %p
          %strong Welcome.
          No matter when a member joins a community they should know how happy you are that they're getting involved.
      .col-sm-4.p-x-md.m-b-lg
        %span.icon.icon-users
        %p
          %strong Recognise.
          Every community member should have a way to learn something about every other member of their community.
      .col-sm-4.p-x-md.m-b-lg
        %span.icon.icon-trophy
        %p
          %strong Reward.
          The more a community member contributes to their community, the more they should get out of their membership.
.row.m-b-lg
  .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
    .callout
      .callout-content
        %strong Put Cabinbot to work.
        Start building your membership directory with a single click.
      .callout-secondary
        %a{:href => "/auth/slack"}
          %img{:alt => "Add to Slack", :height => "40", :src => "https://platform.slack-edge.com/img/add_to_slack.png", :srcset => "https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x", :width => "139"}/