.block.block-fill-height
  .container.text-center
    .row.m-b-lg
      .col-sm-8.col-sm-offset-2.col-lg-8.col-lg-offset-2
        .bot-loading
          .loader
            Loading...
          =image_tag 'cabinbot-avatar.png', width:200
        %h6.text-muted.text-uppercase Cabinbot is getting to know your community.
        %h3.m-t-0 This shouldn't take long. You'll get a Slack message from cabinbot when he's ready.
        