.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header &copy; WorkSnug 2015
        .ui.inverted.link.list
          %a.item{:href => "#"} Contact
