.ui.container
  .ui.large.secondary.pointing.menu
    %a.toc.item
      %i.sidebar.icon
    %a.item
      = image_tag "/assets/cabinbot-logo-small.png"
      Cabinbot
    -if user_signed_in?
      -if current_user.try(:admin?)
        = link_to 'Users', users_path, :class=>"item"
    .right.item
      -if user_signed_in?
        = link_to 'Sign out', signout_path, :class=>"ui.button"
      -else
        = link_to 'Sign in', signin_path, :class=>"ui.button"