%nav.navbar.navbar-light.bg-faded
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar", "data-toggle" => "collapse", :type => "button"}
    \☰
  #exCollapsingNavbar.collapse.navbar-toggleable-xs
    = link_to "#{@team.team_name unless @team.nil?} Coworker Directory", root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      = render 'layouts/navigation_links'